# OS X ignores
.DS_Store
.AppleDouble
.LSOverride

Icon

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.VolumeIcon.icns

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Vi ignores
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]

Session.vim

.netrwhist
*~

tags

# Eclipse ignores
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

.project

.externalToolBuilders/

*.launch

*.pydevproject

.cproject

.classpath

.factorypath

.buildpath

.target

.tern-project

.texlipse

.springBeans

.recommenders/

# Windows ignores
Thunbs.db
ehthunbs.db

Desktop.ini

$RECYCLE.BIN/

*.cab
*.msi
*.msm
*.msp

*.lnk
/target/

# Project specific ignores
/log/
/doc/
